.page-post {
	font-size: 17px;
	line-height: 2;
	word-break: break-all;
}

.page-post .title {     /* 文章名 */
	font-size: 30px;
	font-weight: bold;
	color: #42c1a1;
	line-height: 1;
	padding-bottom: 16px;
	margin-top: 30px;
	text-align: center;
}

.page-post .subtitle {
	font-size: 13px;
	color: #999999;
	position: relative;
	top: -6px;
	line-height: 1;
}

.page-post .post > * {
	margin: 18px 0;
}

.page-post .post > iframe {
	margin: 0;
	width: 100%;
	background-color: #303030;
}

.page-post .post h1 {
	font-weight: bold;
	font-size: 20px;
	position: relative;
}

.page-post .post h2 {
	font-weight: normal;
	font-size: 18px;
	position: relative;
}

.page-post .post h1::before {
	content: '#';
	top: 0;
	font-weight: bold;
	padding-right: 6px;
	color: #3de1ad;
}

.page-post .post h2::before {
	content: '##';
	top: 0;
	font-weight: bold;
	padding-right: 6px;
	color: #1bd1a5;
}

.page-post h3,
.page-post h4,
.page-post h5,
.page-post h6 {
	font-size: 16px;
	font-weight: normal;
}

.page-post .post h3::before {
	content: '|';
	top: 0;
	font-weight: bold;
	padding-right: 6px;
	color: #3de1ad;
}

.page-post .post h4::before {
	content: '*';
	top: 0;
	font-weight: bold;
	padding-right: 6px;
	color: #3de1ad;
}

.page-post blockquote {
	border-left: 3px solid #333333;
	background-color: #303030;
	padding: 9px 9px 9px 15px;
}

.page-post strong,
.page-post b {
	color: #cccccc;
}

.page-post .post ul {
	margin-left: 16px;
}

.page-post .post ol {
	margin-left: 23px;
}

.page-post ul li {
	list-style: disc;
}

.page-post ol li {
	list-style: decimal;
}

.page-post img {            /* 图片引用 */
	display: block;
	max-width: 100%;
	margin: 0 auto;
	height: auto;
	-webkit-box-shadow: 0 0 5px #e0e0e0;
	box-shadow: 0 2px 5px 2px rgb(0 0 0 / 2%);
}

.sign-bottom {
	position: relative; /* 父容器设置为相对定位 */
  /* 确保父容器有足够的大小 */
    width: auto; /* 示例宽度 */
    height: 12vh; /* 示例高度 */
	margin-top: auto;
}
.sign-image {
   position: absolute;
   right: 3rem; /* 对齐到父容器的右边 */
   bottom: 1vh; /* 对齐到父容器的底部 */
   box-shadow: none !important;   /* 去除阴影 */
   height: 10vh !important;
}  


.page-post img[alt='line'] {
	display: inline-block;
	vertical-align: middle;
	background-color: transparent;
	box-shadow: none;
	margin: 0 4px;
	line-height: 1;
}

.page-post code {
	background-color: #303030;
	word-break: break-all;
	padding: 0 4px;
	margin: 0 2px;
	border-radius: 4px;
	color: #c2ccd0;
}

.page-post pre {
	font-size: 0;
	padding: 10px;
	overflow: auto;
	border-radius: 2px;
	background-color: #303030;
 /* 背景颜色 */
	max-height: 610px;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

.page-post pre code {
	background-color: transparent;
	font-size: 13px;
	padding: 0;
	margin: 0;
	line-height: 1.6;
}

.page-post hr {
	border: none;
	height: 2px;
	background-color: #4a4266;
}

.page-post table {
	min-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #88ada6;
}

.page-post tr {
	border-bottom: 1px solid #88ada6;
}

.page-post th {
	font-weight: bold;
}

.page-post th,
.page-post td {
	padding: 5px 10px;
	text-align: left;
}

.page-post table tr:nth-child(even) {
	background-color: #303030;
}

.page-post .table-container {
	overflow: auto;
	margin: 14px 0;
	border: 1px solid #88ada6;
}

.page-post .table-container table {
	margin: 0;
	border: 0;
}

.page-post .table-container table tbody tr:last-child {
	border-bottom: 0;
}

@media screen and (max-width: 560px) {
	.page-post {
		font-size: 17px;
        text-align: justify;
		letter-spacing: 0.5px;
	}

	.page-post .title {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.page-post .subtitle {
		top: -2px;
		font-size: 11px;
	}

	.page-post pre code {
		font-size: 12px;
	}

	.page-post .post > * {
		margin: 15px 0;
	}
}
