<!DOCTYPE html>
<html>
{% include head.html -%}

<body>
    <div id="container">
        <style>
            .unique-title {
                font-size: 33px !important;
                font-weight: bold;
                color: #3de1ad;
            }
        </style>
        {% include header.html -%}
        <hr>
        {{ content }}
    </div>
    {% include footer.html -%}
    <div class="person">
        <div class="sign">
            天地生日月，神明寄乾坤
        </div>
        <a href="/static/xml/rss.xml" class="hover-underline others" style="color: #70f3ff;">RSS</a>
    </div>
    <hr class="bottom-fixed-divider" />
    {% include script.html -%}
</body>

</html>