<!DOCTYPE html>
<html>
   <div id="container">
  {% include head.html -%}
  <body ondragstart="return false;">
  <style>
.unique-title {
  font-family: cursive;
  font-size: 33px !important;
  font-weight: bold;
  color: #3de1ad;
  }
</style>
    {% include header.html -%}
	<hr>
    {{ content }}
 <!--      {% include valine.html -%}  -->
    {% include script.html -%}  
    </div>
    {% include footer.html -%}
  <div class="person">
    <div class="sign">
    天地生日月，神明寄乾坤
    </div> 
   <a href="/static/xml/rss.xml" class="hover-underline others" style="color: #70f3ff;">RSS</a> 
  </div> 
  <hr class="bottom-fixed-divider" />  
  </body>
</html>